Backup
Plugins/FellSky.*
Plugins/Duality.Hexmap.*
Source/Code/*/bin
Source/Code/*/obj
Source/Packages/IconCache
Source/Code/Packages
Temp
logfile.txt
logfile*.txt
perflog*.txt
DesignTimeData.dat
UserData.dat
*.suo
EditorUserData.xml
.vs
*.user
*.vspx
*.psess